{% from "macros/icons/linkedin.jinja2" import linkedin %}
{% from "macros/icons/facebookIcon.jinja2" import facebookIcon %}
{% from "macros/icons/xIcon.jinja2" import xIcon %}

{%- block app_footer %}
<div class="text-center pt-3 pb-3" style="color: var(--foreground);">
    {{ _('Powered by {zotero} and {kerko}.').format(
    zotero='<a href="https://zotero.org">Zotero</a>',
    kerko='<a href="https://github.com/whiskyechobravo/kerko">Kerko</a>') }}
</div>
<footer class="footer py-4">
    <div class="container pt-2">
        <div class="d-flex footer-content">
            <div class="company-info">
                <a class="d-block footer-brand-icon" href="{{ config.HOME_URL }}">
                    {%- if theme == 'dark' %}
                    <img src="{{ url_for('static', filename='dist/images/opendeved-logo-light.png') }}"
                        alt="{{ config.HOME_TITLE }}" width="190px">
                    {%- else %}
                    <img src="{{ url_for('static', filename='dist/images/opendeved-logo-dark.png') }}"
                        alt="{{ config.HOME_TITLE }}" width="190px">
                    {%- endif %}
                </a>
                <div class="mt-4 contact-info">
                    {%- if config.footer.contact['items'] %}
                    {%- for item in config.footer.contact['items'] %}
                    <p style="margin-bottom: 5px;"><span class="contact-info-title">{{ item.field }}: </span><span
                            class="contact-info-value">{{
                            item.value }}</span>
                    </p>
                    {%- endfor %}
                    {%- endif %}
                </div>
            </div>
            <div class="quick-links d-flex align-items-center">
                <div>
                    <h5 class="h5">Quick Links</h5>
                    {%- if config.navbar['items'] %}
                    <ul class="list-unstyled" style="margin: 0; padding: 0;">
                        {%- for item in config.navbar['items'] %}
                        <li class="mb-2">
                            <a href="{{ item.url }} ">{{ item.text }}</a>
                        </li>
                        {%- endfor %}
                    </ul>
                    {%- endif %}
                </div>
            </div>
            <div style="display: flex; flex-direction: column; flex: 1">
                <div class="stay-connected">
                    <h5 class="mb-2 h5">Stay connected</h5>
                    <div class="d-flex" style="gap: 18px; color: var(--foreground)">
                        <a href="https://www.linkedin.com/company/opendeved" target="_blank" rel="noopener"
                            class="social-icon">
                            {{ linkedin('social-icon', 24, 24) }}
                        </a>
                        <a href="https://www.facebook.com/opendeved" target="_blank" rel="noopener" class="social-icon">
                            {{ facebookIcon('social-icon', 24, 24) }}
                        </a>
                        <a href="https://www.x.com/opendeved" target="_blank" rel="noopener" class="social-icon">
                            {{ xIcon('social-icon', 24, 24) }}
                        </a>
                    </div>

                </div>
                <div class="contact-us">
                    <p class="my-4 h5">Contact Us</p>
                    <a href="{{ config.footer.contactUsButtonLink }}" class="btn btn-normal">Contact Us</a>
                </div>
            </div>
        </div>
        {%- if config.footer.links %}
        <div class="mt-4 footer-bottom-links">
            {%- for link in config.footer.links %}
            <a href="{{ link.url }}">{{ link.text }}</a>
            {% if not loop.last %}<span class="divider">|</span>{% endif %}
            {%- endfor %}
        </div>
        {%- endif %}
    </div>
</footer>
{%- endblock %}



{# {%- for f in config.kerko_composer.get_ordered_specs('footer') %}
{{ f }}
{%- endfor %} #}