{%- block item_field_creators %}
{%- if item.data.creators %}
<div class="row">
    <div class="col-md-4 col-lg-3 font-weight-bold break-word text-print-left">{% trans
        count=item.data.creators|length %}Author/contributor{% pluralize %}Authors/contributors{% endtrans %}</div>
    <div class="col-md-8 col-lg-9 break-word">
        <ul class="list-unstyled">
            {%- for creator in item.data.creators %}
            <li>
                {%- if creator.url %}<a href="{{ creator.url }}" {{ title_aria_label(_('Search
                    \'{}\'').format(creator.display|escape)) }}>{% endif %}
                    {{- creator.display|escape }}
                    {%- if creator.url %}</a>{% endif %}
                {%- if creator.label %}
                ({{ creator.label }})
                {%- endif %}
            </li>
            {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}
{%- endblock item_field_creators %}