{%- from "macros/icons/linkIcon.jinja2" import linkIcon -%}
{%- block item_field_links %}
{%- if item.links %}
<div class="row">
    <div class="col-md-4 col-lg-3 font-weight-bold break-word text-print-left">{% trans
        count=item.links|length %}Link{% pluralize %}Links{% endtrans %}</div>
    <div class="col-md-8 col-lg-9 break-word">
        <ul class="list-unstyled">
            {%- for link in item.links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.title|escape }} {{linkIcon("mb-1 ml-1", 16, 16) }}</a>
            </li>
            {%- endfor %}
        </ul>
    </div>
</div>
{%- endif %}
{%- endblock item_field_links %}