{%- block item_field_resource_type %}
{{- facet_field(_("Resource type"), item.item_type_label, 'facet_item_type', add_title=_("Search the '{}' resource
type").format(item.item_type_label)) }}
{%- endblock item_field_resource_type %}