{%- if item.remove_url -%}
<a class="no-decorate d-flex mb-1" href="{{ item.remove_url }}" {{
    title_aria_label(remove_title.format(label_text|striptags|escape)) }} rel="nofollow">
    {%- if remove_icon %}
    <div style="width: 20px;" class="checkbox-container">
        {{- checkSquare('checkSquare', "100%", "100%") -}}
    </div>
    {% endif %}
    {{- itemLabel(item, subtree, label_text, "", True) }}
</a>
{%- elif item.add_url -%}
<a class="no-decorate d-flex mb-1" href="{{ item.add_url }}" {{
    title_aria_label(add_title.format(label_text|striptags|escape)) }} rel="nofollow">
    {%- if add_icon %}
    <div style="width: 20px;" class="checkbox-container">
        {{- noCheckSquare('noCheckSquare', "100%", "100%") -}}
    </div>
    {% endif %}
    {{- itemLabel(item, subtree, label_text) }}
</a>
{%- else -%}
<span class="mb-1">
    {{- label_text }}
</span>
{% endif %}