{% from "macros/icons/preferencesIcon.jinja2" import preferencesIcon %}

{%- block preferences %}
{%- if config.kerko.features.open_in_zotero_app or config.kerko.features.open_in_zotero_web %}

<div class="{% block print_link_wrapper_classes %}d-none d-md-inline-block d-print-none mb-2{% endblock %}">
    <button class="btn regular-btn" data-toggle="modal" data-target="#preferences-modal">
        <span class="" aria-hidden="true">
            {{ preferencesIcon("icon-normal icon-sm", 20, 20) }}
        </span> {{ _("Preferences") }}
    </button>
</div>

<div class="text-dark d-print-none">
    {%- include "item-header/preferences/_preferences.html.jinja2" %}
</div>
{%- endif %}
{%- endblock preferences %}