{% from "macros/svgs.jinja2" import moon, sun %}

{% for item in config.kerko_composer.link_groups.navbar.get_ordered_links() %}
{%- block navbar_items %}
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/about/">{{ _('About') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/programmes/">{{ _('Programmes') }}</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('kerko.search') }}" aria-current="true">{{ _("Evidence
        Library") }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/partners/">{{ _('Partners') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/blog/">{{ _('Blog') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/jobs/">{{ _('Jobs') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/contact-us/">{{ _('Contact Us') }}</a>
</li>
<li class="nav-item">
    <a href="{{ url_for('toggle_theme', current_page='/') }}" class="nav-link d-flex" style="gap: 5px;">
        {% if theme == "dark" %}
        <div style="width: 20px; height: 20px">
            {{ sun("nav__icon") }}
        </div>
        <span class="d-lg-none">{{_("Switch To Dark Mode")}}</span>
        {% else %}
        <div style="width: 20px; height: 20px">
            {{ moon("nav__icon") }}
        </div>
        <span class="d-lg-none">{{_("Switch To Light Mode")}}</span>
        {% endif %}
    </a>
</li>
{%- endblock navbar_items %}
{% endfor %}