{% for item in config.kerko_composer.link_groups.navbar.get_ordered_links() %}
{%- block navbar_items %}
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/about/">{{ _('About') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/programmes/">{{ _('Programmes') }}</a>
</li>
<li class="nav-item active">
    <a class="nav-link" href="{{ url_for('kerko.search') }}" aria-current="true">{{ _("Evidence
        Library") }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/partners/">{{ _('Partners') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/blog/">{{ _('Blog') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/career/">{{ _('Career') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/our-tools/">{{ _('Our Tools') }}</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://opendeved.net/contact-us/">{{ _('Contact Us') }}</a>
</li>
</a>
{%- endblock navbar_items %}
{% endfor %}