{%- from "kerkoapp/_attributes.html.jinja2" import title_aria_label %}
{%- from "macros/svgs.jinja2" import helpIcon %}
{%- from "macros/searchIcon.jinja2" import searchIcon %}
{%- from "macros/svgs.jinja2" import expandIcon %}

{%- if search_results %}
<div class="px-0 py-0" style="display: grid; gap: 13px">
    <div class="w-100 d-flex justify-content-between">
        <div id=" search-title" class="d-flex align-items-center">
            <h1 class="h2 mb-0">
                {%- if is_searching %}
                {{ _("Search results") }}
                {%- else %}
                {{ _("Search") }}
                {%- endif %}
            </h1>
        </div>
        <div class="d-flex" style="gap: 5px;" id="help-sort-btns">
            <div class="{% block help_link_wrapper_classes %}d-inline-block d-print-none mb-2{% endblock %}">
                <button class="{% block help_btn_classes %} helpBtn btn {% endblock %}" data-toggle="modal"
                    data-target="#search-help">
                    {{ _("Help") }}
                    {{ helpIcon('helpIcon', 20, 20) }}
                </button>
            </div>

            {%- if search_results %}
            <div class="{% block sorter_wrapper_classes %} {% endblock %}">
                {%- include "kerkoapp/_sorter.html.jinja2" %}
            </div>
            {%- endif %}
        </div>
    </div>
    <form method="post" role="search" {% block search_form_attributes %}class="form d-print-none w-100" {% endblock %}>
        <div class="w-100" style="display: grid; gap: 13px">
            <div class="">
                {{- form.hidden_tag() }}
                <div class="form-row mx-n1 d-flex">
                    {%-
                    set placeholder = _("Search within results for...")
                    if is_searching
                    else _("Search for...")
                    %}
                    {%- set keywords_validation_class = " is-invalid" if 'keywords' in form.errors else "" %}
                    {%- set scope_validation_class = " is-invalid" if 'scope' in form.errors else "" %}
                    {# <label for="{{ form.keywords.id }}" class="sr-only">{{ placeholder }}</label> #}
                    {# {{- form.keywords(class_="form-control" + keywords_validation_class, placeholder=placeholder)
                    }} #}
                    <div class="d-flex w-100" style="gap:5px">
                        <div class="search-input-group">
                            <span class="search-icon">
                                {{ searchIcon('searchIcon mb-1', 20, 20) }}
                            </span>
                            <input maxlength="1000" name="keywords" placeholder="Search for..." type="search" value="">
                        </div>
                        {# <label for="scope" class="sr-only">{{ _('Search in...') }}</label> #}
                        {# {{- form.scope(class_="search-select-filter" + scope_validation_class) }} #}
                        <div class="d-flex filter-searchButton-area">
                            <div class="search-form-select d-flex align-items-center">
                                <select name="scope" id="scope" class="form-control search-select-filter">
                                    {%- for scopes in config.kerko_composer.get_ordered_specs('scopes') %}
                                    <option value="{{ scopes.key }}">{{ scopes.selector_label }}</option>
                                    {%- endfor %}
                                </select>
                                {{ expandIcon("", 20, 20) }}
                            </div>
                            {# <div class="col-auto px-1 search-submit-button">
                                <button id="submit" type="submit" {% block search_button_attributes
                                    %}class="{% block search_btn_classes %}btn btn-primary{% endblock %}" {% endblock %}
                                    {{ title_aria_label(_('Search')) }}>
                                    <span class="fas fa-search" aria-hidden="true"></span>
                                </button>
                            </div> #}
                        </div>
                    </div>
                </div>
                {%- if form.errors %}
                {%- for key, errors in form.errors.items() %}
                {%- for error in errors %}
                <div class="invalid-feedback d-block">{{ error }}</div>
                {%- endfor %}
                {%- endfor %}
                {%- endif %}
            </div>
        </div>
    </form>
    <div class="d-flex sort-help-container">
        <div class="w-100">
            {%- include "kerkoapp/_breadbox.html.jinja2" %}
        </div>
        {%- if is_searching or facet_results %}
        <div class="col-auto pl-0 ml-auto text-right pr-0">
            {%- if facet_results and search_results %}
            <div
                class="{% block facets_link_wrapper_classes %}d-inline-block d-lg-none d-print-none mt-0 mb-2{% endblock %}">
                <button id="facets-modal-toggle" class="{% block facets_btn_classes %}btn btn-primary{% endblock %}">
                    <span class="fas fa-compass" aria-hidden="true"></span> {{ _("Explore") }}
                </button>
            </div>
            {%- endif %}
            {%- if is_searching %}
            <div class="{% block reset_link_wrapper_classes %}d-inline-block d-print-none mt-0 mb-2{% endblock %}">
                <a class="{% block reset_btn_classes %}btn btn-danger{% endblock %}"
                    href="{{ url_for('kerko.search') }}">
                    <span class="fas fa-trash-alt" aria-hidden="true"></span> {{ _("Reset search") }}
                </a>
            </div>
            {%- endif %}
        </div>
        {%- endif %}
    </div>
</div>
{%- endif %}