{% extends config.kerko.templates.layout %}
{% from "kerkoapp/_attributes.html.jinja2" import title_aria_label %}
{% from "kerkoapp/_badges.html.jinja2" import badges %}
{% from "kerkoapp/_facets.html.jinja2" import facet_items %}

{% macro field(label_text, value_text, field_class=None, value_class=None) %}
{%- if value_text %}
<div class="row mb-3 {{ field_class if field_class }}">
    <div class="col-md-4 col-lg-3 font-weight-bold break-word text-print-left field-title">{{ label_text }}</div>
    <div class="col-md-8 col-lg-9 break-word field-value {{ value_class if value_class }}">{{ value_text }}</div>
</div>
{%- endif %}
{%- endmacro %}

{% macro facet_field(label_text, value_text, key, add_title=None) %}
{#- Display a field using its facet, if available, otherwise fallback to a regular field display. #}
{%- if key in config.kerko_composer.facets and key in item.facet_results %}
{%- set f = config.kerko_composer.facets[key] %}
{#- We have a matching facet, display its link. #}
{{- field(
f.title,
facet_items(
f.missing_label,
item.facet_results[f.key],
list_tag='div',
item_tag='div',
add_icon='',
add_title=add_title,
remove_icon=''
)
)
}}
{%- else %}
{#- No matching facet, display as a regular field. #}
{{- field(label_text, value_text) }}
{%- endif %}
{%- endmacro %}

{%- block metas %}
{{- super() }}
<link rel="canonical" title="{{ title|escape }}" href="{{ item_url }}">
{%- if config.kerko.features.download_item %}
{%- for bib_format in config.kerko_composer.get_ordered_specs('bib_formats') %}
<link rel="alternate" title="{{ bib_format.label|escape }}" type="{{ bib_format.mime_type|escape }}"
    href="{{ url_for('kerko.item_bib_download', item_id=item.id, bib_format_key=bib_format.key) }}">
{%- endfor %}
{%- endif %}
{%- for tag in highwirepress_tags %}
<meta name="{{ tag[0] }}" content="{{ tag[1]|striptags|escape }}">
{%- endfor %}
{%- endblock metas %}

{%- block content_inner %}

<div class="mb-4 item-content">
    {% include "item/title.jinja2" %}
    {% include "item/article_status.jinja2" %}
    {% include "item/resource-type.jinja2" %}
    {% include "item/creators.jinja2" %}
    {% include "item/item_fields_zotero.jinja2" %}
    {% include "item/item_field_links.jinja2" %}
    {% include "item/item_field_notes.jinja2" %}
    {% include "item/item_field_citation.jinja2" %}
    {% include "item/item_facets.jinja2" %}
    {% include "item/item_field_attachments.jinja2" %}
    {% include "item/item_field_permalink.jinja2" %}
    {% include "item/item_field_relations.jinja2" %}
</div>

{%- block embedded_metadata_coins %}
{{- item.coins|safe }}
{%- endblock embedded_metadata_coins %}
{%- endblock content_inner %}

{%- block content_footer %}
{%- if config.DEBUG %}
<div class="text-right mb-4 mt-2 text-muted">{% trans time="%.2f"|format(time) %}Processing time: {{time}} seconds{%
    endtrans %}</div>
{%- endif %}
{%- endblock content_footer %}

{%- block footer_inner %}
{{ super() }}
{%- endblock footer_inner %}

{%- block content_header %}
{%- include "item/header/item-header.jinja2" %}
{%- endblock content_header %}

{%- block body_scripts %}
{{- super() }}
{%- block kerko_item_js %}
<script src="{{ url_for('static', filename='dist/js/item.min.js') }}?202008101934"></script>
{%- if config.kerko.features.open_in_zotero_app or config.kerko.features.open_in_zotero_web %}
{#
<script src="{{ url_for('kerko.static', filename='kerko/js/open_in_zotero.js') }}?20221016"></script> #}
{%- endif %}
{%- endblock kerko_item_js %}
{%- block kerko_print_js %}
{%- if config.kerko.features.print_item %}
<script src="{{ url_for('static', filename='dist/js/print.min.js') }}"></script>
{%- endif %}
{%- endblock kerko_print_js %}
{%- endblock body_scripts %}