{% set apply_relations_initial_limit = True %}
{% extends config.kerko.templates.item %}
{% from "kerkoapp/_breadcrumb.html.jinja2" import breadcrumb %}

{%- block metas %}
{{- super() }}
{%- include "kerkoapp/_search-metas.html.jinja2" %}
{%- endblock metas %}

{%- block breadcrumb %}
{%- if is_searching and back_url %}
{{ breadcrumb([{'url': back_url, 'text': _("Your search")}, title]) }}
{%- else %}
{{ super() }}
{%- endif %}
{%- endblock breadcrumb %}

{%- block content_inner %}
{# {%- block search_criteria %} #}
{# {%- if is_searching %}
<div class="{% block search_criteria_wrapper_classes %}card breadbox mb-4 d-print-none{% endblock %}">
    <div class="card-body">
        {%- include "kerkoapp/_breadbox.html.jinja2" %}
    </div>
</div>
{%- endif %} #}
{# {%- endblock search_criteria %} #}
{%- block search_results %}
{%- endblock search_results %}
{{- super() }}
{%- include "kerkoapp/_pager.html.jinja2" %}
{%- endblock content_inner %}