{% extends config.kerko.templates.layout %}
{% from "kerkoapp/_attributes.html.jinja2" import title_aria_label %}
{% from "kerkoapp/_breadcrumb.html.jinja2" import breadcrumb %}
{% from "macros/svgs.jinja2" import toggleOff, toggleOn %}
{% from "macros/rrsIcon.jinja2" import rssIcon %}

{%- set show_print_link = config.kerko.features.print_results_max_count == 0 or total_count <=
    config.kerko.features.print_results_max_count %} {%- set show_print_link=show_print_link and
    config.kerko.features.print_results %} {%- set
    show_download_link=config.kerko.features.download_results_max_count==0 or total_count
    <=config.kerko.features.download_results_max_count %} {%- set show_download_link=show_download_link and
    config.kerko.features.download_results and config.kerko_composer.bib_formats %} {%- set
    abstracts_toggler_title=_('Hide abstracts') if show_abstracts else _('Show abstracts') %} {%- block metas %} {{-
    super() }} {%- include "kerkoapp/_search-metas.html.jinja2" %} {%- endblock metas %} {%- block breadcrumb %} {%- if
    is_searching %} {{ breadcrumb([_("Your search")]) }} {%- else %} {{ breadcrumb() }} {%- endif %} {%- endblock
    breadcrumb %} {%- block content_header %} <div class="my-2 row">
    {# <h1
        class="{% block search_heading_classes %}h2 col-auto pr-1 mr-auto d-inline{% endblock %}{% if not is_searching %} d-print-none{% endif %}">
        {%- if is_searching %}
        {{ _("Your search") }}
        {%- else %}
        {{ _("Search") }}
        {%- endif -%}
    </h1> #}
    </div>
    {%- block search_help %}
    {%- include "kerkoapp/_search-help.html.jinja2" %}
    {%- endblock search_help %}
    {%- endblock content_header %}

    {%- block content_inner %}

    {%- block search_results %}
    <div class="my-1 row d-flex">
        <div class="col-auto mr-auto d-flex align-items-center">
            <p class="{% block results_heading_classes %}d-inline mb-0{% endblock %}" id="results-counts">
                {# {{- title }} #}
                {%- if search_results %}
                <span class="">
                    {% trans count=total_count, count_formatted=total_count_formatted|safe%}
                    {{ count_formatted }} <span class="result-counts-text">resource</span>
                    {% pluralize %}
                    {{ count_formatted }} <span class="result-counts-text">resources</span>
                    {% endtrans %}
                </span>
                {%- endif %}
            </p>
        </div>
        {%- if config.kerko.features.results_abstracts_toggler %}
        <div class="col-auto ml-auto pl-0">
            {%- block abstracts_toggler %}
            <a class="show-abstract-btn" href="{{ abstracts_toggler_url }}" title="{{ abstracts_toggler_title }}"
                aria-label="{{ abstracts_toggler_title }}">
                {% if show_abstracts %}
                {{ toggleOn() }}
                {% else %}
                {{ toggleOff() }}
                {% endif %}
                {{ _("Abstracts") }}</a>
            {%- endblock abstracts_toggler %}
        </div>
        {%- endif %}
    </div>
    {%- if search_results %}
    {%- if pager or config.kerko.features.results_abstracts_toggler %}
    <div class="row mb-2">
        {%- if pager %}
        <div class="col-auto mr-auto">
            {%- block pager_top %}
            {%- include "kerkoapp/_pager.html.jinja2" %}
            {%- endblock pager_top %}
        </div>
        {%- endif %}
    </div>
    {%- endif %}
    {%- block search_results_list %}
    <ul class="mb-4 list-unstyled {% if print_preview %}search-print-preview{% endif %}">
        {%- for result, result_url in search_results %}
        {%- include "kerkoapp/_search-result.html.jinja2" %}
        {%- endfor %}
    </ul>
    {%- endblock search_results_list %}
    {%- block pager_bottom %}
    {%- include "kerkoapp/_pager.html.jinja2" %}
    {%- endblock pager_bottom %}
    {%- block search_results_footer scoped %}
    {%- if show_print_link or show_download_link or atom_feed_url %}
    <div class="row">
        <div class="col-auto ml-auto mt-2 mb-4 text-right d-flex bottom-btns-area">
            {%- if show_print_link %}
            <div class="{% block print_link_wrapper_classes %}d-none d-md-inline-block d-print-none mb-1{% endblock %}">
                <button id="print-link" class="{% block print_btn_classes %}regular-btn{% endblock %}" type="button"
                    data-url="{{ print_url }}">
                    <span class="fas fa-print" aria-hidden="true"></span> {% trans count=total_count,
                    count_formatted=total_count_formatted|safe %}Print this citation{% pluralize %}Print {{
                    count_formatted }} citations{% endtrans %}
                </button>
            </div>
            {%- endif %}
            {%- if show_download_link %}
            <div class="{% block download_link_wrapper_classes %}d-inline-block d-print-none mb-1{% endblock %}">
                <div class="dropdown">
                    <button class="{% block download_btn_classes %}regular-btn dropdown-toggle{% endblock %}"
                        type="button" id="download-options" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="fas fa-download" aria-hidden="true"></span> {% trans count=total_count,
                        count_formatted=total_count_formatted|safe %}Download this record{% pluralize %}Download {{
                        count_formatted }} records{% endtrans -%}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right dropdown-width-300"
                        aria-labelledby="download-options">
                        {%- for bib_format in config.kerko_composer.get_ordered_specs('bib_formats') %}
                        <a class="dropdown-item" href="{{ download_urls[bib_format.key] }}" rel="nofollow"
                            type="{{ bib_format.mime_type|escape }}" {{ title_aria_label(_('Download in
                            {download_option} format').format(download_option=bib_format.label|escape)) }}>
                            {{- bib_format.label -}}
                        </a>
                        <p class="px-4 text-muted">{{ bib_format.help_text }}</p>
                        {%- endfor %}
                    </div>
                </div>
            </div>
            {%- endif %}
            {%- if atom_feed_url %}
            <div class="{% block atom_feed_link_wrapper_classes %}d-inline-block d-print-none mb-1{% endblock %}">
                <a class="{% block atom_feed_btn_classes %} regular-btn {% endblock %}" href="{{ atom_feed_url }}"
                    type="application/atom+xml" {% if atom_feed_help %}title="{{ atom_feed_help|escape }}" {% endif %}
                    target="_blank">
                    {{rssIcon("", 20, 20)}} {{ atom_feed_title }}
                </a>
            </div>
            {%- endif %}
        </div>
    </div>
    {%- endif %}
    <div class="text-right mb-4 text-muted d-print-none">
        {%- if config.DEBUG %}
        {% trans time="%.2f"|format(time) %}Processing time: {{ time }} seconds{% endtrans %} &mdash;
        {%- endif %}
        {%- if last_sync %}
        {% trans when=last_sync|kerko_format_datetime(convert_tz=True, show_tz=True) %}Last update from database: {{
        when }}{% endtrans %}
        {%- endif %}
    </div>
    {%- endblock search_results_footer %}
    {%- else %}
    {%- trans %}
    <p>Suggestions:</p>
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try different words.</li>
        <li>Try more general terms.</li>
    </ul>
    {%- endtrans %}
    {%- endif %}
    {%- endblock search_results %}
    {%- endblock content_inner %}

    {%- block body_scripts %}
    {{- super() }}
    {%- block kerko_search_js %}
    <script src="{{ url_for('kerko.static', filename='kerko/js/search.js') }}?20221229"></script>
    {%- endblock kerko_search_js %}
    {%- block kerko_print_js %}
    {%- if show_print_link %}
    <script src="{{ url_for('kerko.static', filename='kerko/js/print.js') }}"></script>
    {%- endif %}
    {%- endblock kerko_print_js %}
    {%- endblock body_scripts %}