// buttons
.btn-normal {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: 1px solid var(--border);
  background: var(--background-secondary);
  color: var(--font-60);
  border-radius: $border-radius-sm;

  &:hover {
    text-decoration: none;
    color: var(--font-60);
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
  }

  @include media-breakpoint-up(lg) {
    padding: 8px 18px;
  }
}

.show-abstract-btn {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: $border-radius-sm;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--font-60);
  font-size: 14px;

  &:hover {
    text-decoration: none;
    color: var(--font-60);
  }

  // if the button is active
  &[aria-label="Hide abstracts"] {
    background: var(--background-blue);
    color: var(--font-blue-80);
    border-color: var(--border-blue);
  }

  @include media-breakpoint-up(lg) {
    padding: 8px 14px;
  }
}

.dark-mode {
  .show-abstract-btn {
    // if the button is active
    &[aria-label="Hide abstracts"] {
      color: var(--font-80);
    }
  }
}
