// buttons
.btn-normal {
  display: inline-flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: 1px solid var(--border);
  background: var(--background-secondary);
  color: var(--font-60);
  border-radius: $border-radius-sm;

  &:hover {
    text-decoration: none;
    color: var(--font-60);
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
  }

  &:active {
    background-color: none !important;
  }

  @include media-breakpoint-up(lg) {
    padding: 8px 18px;
  }
}

.show-abstract-btn {
  display: inline-flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: $border-radius-sm;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--font-60);
  font-size: 14px;

  &:hover {
    text-decoration: none;
    color: var(--font-60);
  }

  @include media-breakpoint-up(lg) {
    padding: 8px 14px;
  }
}

.sidebar-expand-collapse {
  // if it has aria-expanded attribute
  background-color: rgba(0, 0, 0, 0.04);
  &[aria-expanded="true"] {
    margin-top: 15px;
  }
}

.dark-mode {
  .show-abstract-btn {
    // if the button is active
    &[aria-label="Hide abstracts"] {
      color: var(--font-80);
    }
  }

  .sidebar-expand-collapse {
    background-color: rgba(255, 255, 255, 0.04);
  }
}

#download-options {
  @include media-breakpoint-down(md) {
    width: 100%;
  }
}

.open-in-zotero-app,
.open-in-zotero-web,
.preferences-modal-button {
  @include media-breakpoint-down(md) {
    width: 100% !important;
    a {
      width: 100% !important;
    }
  }
}
