.facets {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 20px;
  border: 0px;

  @include media-breakpoint-up(lg) {
    background: var(--white);
    padding: 22px 22px;
    border: 1px solid var(--border);
  }

  .facet-heading {
    font-size: $h4-font-size;
    color: var(--font-60);
    font-weight: 500 !important;
    text-transform: capitalize;
    margin-bottom: 12px;
  }

  ul {
    li {
      color: var(--font-60);

      &:hover {
        color: var(--font-80);
      }

      .facet-item-label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        color: var(--font-60);
        text-align: left;
      }

      .active {
        color: var(--foreground);
      }

      .facet-item-count {
        color: inherit;
        font-size: $font-size-sm;
      }
      .btn-expand,
      .btn-collapse {
        display: flex;
        flex-wrap: wrap;
        background: none;
        border: none;
        color: inherit;
        font-size: $font-size-md;
        padding: 0;
      }
      // if the facet is expanded set display to hidden
      .btn-expand[aria-expanded="true"] {
        display: none;
      }
      // if the facet is collapsed set display to flex
      .btn-expand[aria-expanded="true"] + .btn-collapse {
        display: flex;
      }
      .checkbox-container {
        rect {
          stroke: var(--font-40);
        }
      }

      .checkSquare,
      .noCheckSquare {
        stroke: var(--font-40);
        &:hover {
          fill: var(--primary);
          opacity: 0.8;
        }
      }

      .subtreeIcon {
        width: 20px;
        margin-top: -1px;
      }
    }
  }
}

#facets {
  width: 100%;
}

.dark-mode {
  .facets {
    border: 0px;

    .facet-heading {
      color: var(--font-80);
    }

    ul {
      li {
        color: var(--font-40) !important;

        .facet-item-label {
          color: var(--font-40);
        }

        .active {
          color: var(--foreground);
        }
      }
    }
  }
}

// for Featured publisher, Publication type, Theme, Location in item page
.facetsListClassTop {
  * {
    color: var(--font-60);
  }
}
