@import "./variables-style";

.footer {
  background: var(--white);
  border-top: 1px solid var(--border);
  color: var(--foreground);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  .company-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }

    .footer-brand-icon {
      display: flex;
      width: 200px;
      justify-content: center;
      align-items: center;
    }
  }

  .contact-info {
    text-align: center;
    p {
      margin-bottom: 8px;
    }
    .contact-info-title {
      color: var(--font-60);
      font-size: $font-size-md;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
    }
    .contact-info-value {
      color: var(--font-80);
      font-size: $font-size-md;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
    }

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
  .quick-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }

    div {
      width: fit-content;
    }

    h5 {
      color: var(--font-80);
      font-size: $h5-font-size;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      margin-bottom: 18px;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media-breakpoint-up(lg) {
        display: block;
      }

      li {
        a {
          color: var(--font-60);
          font-size: $font-size-md;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
      }
    }
  }

  .stay-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }
    h5 {
      color: var(--font-80);
      font-size: $h5-font-size;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
    }
    .social-icon {
      color: var(--font-40);
      &:hover {
        color: var(--primary);
      }
    }
  }

  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--font-80);
    font-size: $h5-font-size;

    @include media-breakpoint-up(lg) {
      align-items: flex-start;
    }

    a {
      display: flex;
      font-size: $font-size-md;
      padding: 8px 24px;
      gap: 8px;
      border-radius: $border-radius-base;
      border: 1px solid var(--border);
      background: var(--primary);
      color: #fff;
      width: 100%;

      @include media-breakpoint-up(lg) {
        width: fit-content;
      }
    }
  }

  .footer-bottom-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: $font-size-sm;
    a {
      color: var(--font-60);
    }
    .divider {
      color: var(--font-60);
    }
  }
}

.dark-mode {
  .footer {
    .contact-us {
      a {
        background: var(--white);
        color: var(--font-60);
      }
    }
  }
}
