.modal-title {
  color: var(--font-80);
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
  p {
    color: var(--font-60);
  }

  h3 {
    color: var(--font-80);
  }

  code {
    color: var(--blue);
  }

  ul {
    li {
      color: var(--font-60);
    }
  }
}

// modal dialog scrollable
.modal-dialog-scrollable {
  .btn-exit {
    color: var(--foreground);
  }
  .modal-header {
    border-bottom: 1px solid var(--border);
  }
  .modal-content {
    background: var(--background2);
    color: var(--font-80);
    border: 1px solid var(--border);
    border-radius: 16px;
    margin: 14px;
  }
  .form-group {
    #open-in-zotero-app-toggle,
    #open-in-zotero-web-toggle {
      color: var(--foreground);
    }
    small {
      color: var(--dummy-secondary);
    }
  }
}

.close-preferences,
.close-btn-model {
  border-radius: $border-radius-sm;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}

.dark-mode .close-preferences,
.dark-mode .close-btn-model {
  border-radius: $border-radius-sm;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
