.info {
  color: var(--font-80);
}

.dark-mode .info {
  color: var(--font-60);
}

.dark-mode .search-abstract {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--font-40);

  a {
    color: var(--font-40);
  }

  .search-print-preview & {
    margin-left: 1em; // Match APA style indent.
  }
}

.search-abstract {
  color: var(--font-60);

  a {
    color: var(--font-6 0);
  }
}

.institution-class {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.search-item {
  border: 1px solid var(--border);
  border-radius: $border-radius-lg;
  background: var(--white);
  display: flex;
  padding: 24px 32px 32px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-top: 1em;
  margin-bottom: 1em;

  .searchResultTitle {
    span {
      font-size: $h4-font-size;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--font-80);
    }
    &:hover {
      text-decoration: none;
      span {
        color: var(--font-60);
      }
    }
  }

  #search-item-link {
    color: var(--font-80);
    font-weight: bold;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;

    &:hover {
      color: var(--font-80);
      text-decoration: none;
    }
  }
  .btn-link {
    transition: none;
    @include hover {
      color: var(--foreground) !important;
      span {
        color: var(--foreground) !important;
        text-decoration: underline;
      }
    }
  }
}
