.info {
  color: var(--font-80);
}

.dark-mode .info {
  color: var(--font-60);
}

.dark-mode .search-abstract {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--font-40);

  a {
    color: var(--font-40);
  }

  .search-print-preview & {
    margin-left: 1em; // Match APA style indent.
  }
}

.search-abstract {
  color: var(--font-60);

  a {
    color: var(--font-6 0);
  }
}

.institution-class {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
}

.search-item {
  border: 1px solid var(--border);
  border-radius: $border-radius-lg;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 16px;

  @include media-breakpoint-up(lg) {
    padding: 24px 32px 32px 32px;
    gap: 12px;
  }

  .searchResultTitle {
    span {
      font-size: $h4-font-size;
      font-style: normal;
      font-weight: 500;
      text-transform: capitalize;
      color: var(--font-80);
    }
    &:hover {
      text-decoration: none;
      span {
        color: var(--font-60);
      }
    }

    @include media-breakpoint-up(lg) {
      span {
        font-size: $h3-font-size;
      }
    }
  }

  #search-item-link,
  #search-item-read-document {
    color: var(--font-80) !important;
    font-weight: bold !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-style: italic !important;

    &:hover {
      color: var(--font-80) !important;
      text-decoration: none !important;
    }
  }

  .btn-link {
    transition: none;
    @include hover {
      color: var(--foreground) !important;
      span {
        color: var(--foreground) !important;
        text-decoration: underline;
      }
    }
  }
}

.in-progress-badge,
.in-progress-badge-item {
  background: var(--primary);
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: $border-radius-sm;
  font-size: $font-size-sm;

  @include media-breakpoint-up(lg) {
    background: var(--primary);
    font-size: $font-size-sm;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 12px;
    border-radius: $border-radius-sm;
  }
}

.in-progress-badge-item {
  font-size: $font-size-md;
}
