@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

// This is a customized Bootstrap theme, following instructions from
// https://getbootstrap.com/docs/4.6/getting-started/theming/

// Configure Bootstrap variables.
// Full list of variables in 'src/vendor/bootstrap/scss/_variables.scss'.

$white: #fff;
$black: #1b1f22;
$accent: #e68124; // Custom variable.
$theme-colors: (
  "accent": $accent,
);
$primary: $accent;

@import "./variables-style";

$grid-breakpoints: (
  // Remove Bootstrap's xs.
  sm: 0,
  md: 768px,
  lg: 960px,
  xl: 1200px
);

$container-max-widths: (
  // Remove Bootstrap's sm, md & lg.
  xl: 1184px
);

$border-color: #efefef;
$border-radius: 0;

$font-family-sans-serif: "Ubuntu", "Helvetica Neue", helvetica, arial, sans-serif; // Custom variable.
$font-family-oswald: "Ubuntu", "Helvetica Neue", helvetica, arial, sans-serif; // Custom variable.
$headings-font-family: $font-family-oswald;
$headings-font-weight: 700;

$nav-link-padding-x: 1.3rem;
$nav-link-font-family: $font-family-oswald; // Custom variable.
$nav-link-font-size: $font-size-base * 1; // Custom variable.
$nav-link-font-weight: 400; // Custom variable.
$navbar-padding-x: 2rem;
$navbar-padding-y: 1.125rem;
$navbar-brand-padding-y: 0;
$navbar-brand-font-size: 1.6rem;
$navbar-toggler-padding-y: 0.5rem;
$navbar-light-color: var(--foreground);
$navbar-light-active-color: var(--foreground);
$navbar-light-hover-color: var(--primary);
$navbar-light-toggler-border-color: $border-color;

$card-border-color: $border-color;
$input-border-color: $border-color;
$dropdown-border-color: $border-color;
$pagination-border-color: $border-color;
$pagination-disabled-border-color: $border-color;
$breadcrumb-bg: #f8f9fa;

$dropdown-link-hover-bg: #dee2e6; // $gray-300

// Import selected Bootstrap components.
// Full list of imports in 'assets/vendor/bootstrap/scss/bootstrap.scss'.
@import "functions";
@import "variables";
@import "mixins";
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
// @import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
// @import "jumbotron";
@import "alert";
// @import "progress";
// @import "media";
// @import "list-group";
@import "close";
// @import "toasts";
@import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
// @import "spinners";
@import "utilities";
@import "print";

// Import FontAwesome styles.
@import "fontawesome.scss";
@import "solid.scss";
@import "regular.scss";

// WARNING: Webfonts are manually copied to the 'static' directory. If upgrading
// FontAwesome, please manually copy the new webfonts,

// WARNING: Some styles below are copied from Kerko. Kerko's stylesheet is not
// used, thus any change to Kerko's stylesheet might need to be applied here.

// General.

.list-no-bullets {
  list-style-type: none;
}
.no-decorate:hover,
.no-decorate:focus {
  text-decoration: none;
}
:hover > .parent-decorate,
:focus > .parent-decorate {
  text-decoration: underline;
}
.break-word {
  word-wrap: break-word; // Older, non-standard name for overflow-wrap.
  overflow-wrap: break-word;
}
.pre-line {
  white-space: pre-line;
}
.more-or-less[aria-expanded="true"] span.more {
  display: none;
}
.more-or-less[aria-expanded="false"] span.more {
  display: inline;
}
.more-or-less[aria-expanded="true"] span.less {
  display: inline;
}
.more-or-less[aria-expanded="false"] span.less {
  display: none;
}
.d-none-important {
  display: none !important;
}

// Layout.

main {
  min-height: calc(100vh - 6rem - 5.6125rem);
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--foreground);
  @include media-breakpoint-up(lg) {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
  }
}

// Headings.

.rule {
  margin-top: 3.5rem;
  &::before {
    content: " ";
    display: block;
    height: 4px;
    background-color: $primary;
    width: 70px;
    margin-bottom: 15px;
  }
  @media print {
    margin-top: 0;
  }
}

// general
.website-body {
  background-color: var(--background) !important;
}

// Badge.

.heading-results > .badge {
  background: transparent;
  font-size: $font-size-base;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
  @media print {
    border: none;
  }
}

// Expand/collapse.

.btn-expand[aria-expanded="true"] {
  display: none;
}
.btn-expand[aria-expanded="true"] + .btn-collapse {
  display: inline;
}
.btn-expand[aria-expanded="false"] {
  display: inline;
}
.btn-expand[aria-expanded="false"] + .btn-collapse {
  display: none;
}
.continued-hint {
  -webkit-mask-image: linear-gradient(to top, transparent, black 2.75rem);
  mask-image: linear-gradient(to top, transparent, black 2.75rem);
}
.btn-toggle[active] > .btn-toggle-icon-off {
  display: none;
}
.btn-toggle:not([active]) > .btn-toggle-icon-on {
  display: none;
}

// Print links.

.no-js .print-link {
  display: none;
}

// Search.

.breadbox > .card-body {
  > * {
    margin-top: 1rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.ode-badge {
  width: auto;
  height: 2.5rem;
  margin-top: -0.25em;
  margin-left: 1rem;
}
.text-badge {
  color: #212529;
  border: 1px solid #212529;
  font-size: 0.75rem;
  margin-left: 1rem;
}
.text-badge-item {
  font-size: 1rem;
}

// Print media styles.

@media print {
  .row {
    // Fix for truncated pages in Firefox (issue with display: flex).
    // Ref: https://bugzilla.mozilla.org/show_bug.cgi?id=939897
    // Breaks column layouts, but we can live with that.
    display: block !important;
  }
  .text-md-right.text-print-left {
    text-align: left !important;
  }
  .breadbox a {
    text-decoration: none;
  }
  .search-item a,
  .item-content a {
    color: var(--foreground);
    text-decoration: none;
  }
  .tab-content > .tab-pane {
    display: block;
  }
}

.item-content {
  background: var(--white);
  border-radius: 16px;
  padding: 20px 32px;
  margin-top: 1em;
  border: 1px solid var(--border);
}

// search results

#results-counts {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px; /* 111.111% */
  text-transform: capitalize;
  color: var(--foreground);
  .result-counts-text {
    font-size: 16px;
  }
}

// #search-item-link {
//   font-size: 16px;
//   color: var(--dummy-secondary);
//   font-style: italic;
//   font-weight: 500;
//   text-transform: capitalize;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// gap: 3px;
// }

// facets
.facets {
  display: inline-flex;
  padding: 32px 24px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--foreground);
  h3 {
    color: var(--foreground);

    font-size: 16px;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    text-transform: capitalize;
  }

  ul {
    li {
      .facet-item-label {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        color: var(--foreground);
      }
      .facet-item-count {
        color: var(--foreground);
      }
    }
  }
}

.show-abstract-btn {
  display: inline-flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--foreground);
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}

// facets

#facets {
  width: 100%;
}

.expandIcon-expand {
  transform: rotate(-90deg);
}

.sort-help-container {
  display: flex;
  gap: 5px;
}

.helpBtn {
  border-radius: 16px;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--foreground);
  font-size: 15px;
  padding: 8px 24px;
  display: flex;
  gap: 10px;
  &:hover {
    text-decoration: none;
    color: var(--foreground);
  }
}

#sort-options {
  border-radius: 16px;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--foreground);
  font-size: 15px;
  padding: 8px 16px;
  gap: 10px;
  display: flex;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

.dropdown-menu {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 16px;
  padding: 8px;
  a {
    color: var(--foreground);
    font-size: 15px;
    padding: 8px 16px;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: var(--foreground);
      background-color: var(--primary);
    }
  }
}

.form-row {
  gap: 8px;
}

.search-input-group {
  display: flex;
  // height: 40px;
  padding: 10px 18px 10px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--foreground);
  width: 100%;
  gap: 8px !important;
  // @include media-breakpoint-up(lg) {
  //   width: 450px;
  // }

  input {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    color: var(--foreground);
    border: none;
    background: transparent;
    width: 100%;
    &:focus-visible {
      outline: none;
    }
  }
}

.filter-searchButton-area {
  width: 100%;
  // make it width: 100% just in mobile
  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.search-submit-button {
  button {
    border-radius: 16px;
    border: 1px solid var(--border);
    background: var(--white);
    color: var(--foreground);
    font-size: 16px;
    padding: 8px 16px;
    &:hover {
      text-decoration: none;
      color: var(--foreground);
    }
  }
}

.search-form-select {
  // border-radius: 16px;
  // border: 1px solid var(--border);
  // background: var(--white);
  // font-size: 16px;
  // color: var(--foreground);
  // padding: 10px 26px 10px 18px;
  // width: 100%;
  // height: 40px;

  // @include media-breakpoint-up(lg) {
  //   width: 150px;
  // }

  select {
    border-radius: 16px;
    border: 1px solid var(--border);
    background: var(--white);
    font-size: 16px;
    color: var(--foreground);
    // padding: 10px 26px 10px 18px;

    color: var(--foreground);
    // background: transparent;
    // border: none;
    // width: 160px;
    // appearance: none;
    // -webkit-appearance: none;
    font-size: 16px;

    &:focus {
      // background: transparent;
      // border: none;
      outline: none;
      box-shadow: none;
      color: var(--foreground);
    }
    &:focus-visible {
      color: var(--foreground);
      text-shadow: none;
    }
    option {
      color: var(--foreground);
      background-color: var(--white);
      border: 0;
    }
  }
}

// cards
.card {
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 16px;
}

// modal dialog scrollable
.modal-dialog-scrollable {
  .btn-exit {
    color: var(--foreground);
  }
  .modal-header {
    border-bottom: 1px solid var(--border);
  }
  .modal-content {
    background: var(--background2);
    color: var(--foreground);
    border: 1px solid var(--border);
    border-radius: 16px;
  }
  .form-group {
    #open-in-zotero-app-toggle,
    #open-in-zotero-web-toggle {
      color: var(--foreground);
    }
    small {
      color: var(--dummy-secondary);
    }
  }
}

.close-preferences {
  border-radius: 12px;
}

.icon-normal {
  color: var(--foreground);
}

.pagination {
  gap: 16px;
  display: flex;
  justify-content: center;
  align-items: center;

  .page-item {
    .page-link {
      display: flex;
      padding: 8px 14px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 8px;
      border: 1px solid var(--border);
      background: var(--white);
      color: var(--foreground);
    }
  }
  .page-item.active {
    .page-link {
      border: 1.5px solid var(--primary) !important;
      background: var(--primary) !important;
      color: #fff !important;
    }
  }
}

.nav-tabs {
  border-bottom: none;

  .nav-item {
    a {
      display: flex;
      width: 135px;
      padding: 8px 28px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border: 1px solid var(--border);
      background: var(--white);
      color: var(--dummy);
      &:hover {
        border: 1px solid var(--border);
      }
    }
    .active {
      border: 1px solid var(--primary);
      background: var(--primary);
      color: #fff;
    }
  }
  .first-item {
    a {
      border-radius: 12px 0px 0px 12px;
    }
  }
  .last-item {
    a {
      border-radius: 0px 12px 12px 0px;
    }
  }
}

// above the results (search)
#search-container {
  #search-title {
    color: var(--font-60);
    font-size: 20px;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    @include media-breakpoint-up(lg) {
      font-size: 34px;
      font-weight: 500;
    }
  }
}

// buttons
.btn-normal {
  display: inline-flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: $border-radius-base;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--font-60);
}

.regular-btn {
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: $border-radius-base;
  border: 1px solid var(--border);
  background: var(--white);
  color: var(--font-60);
  &:hover {
    text-decoration: none;
    color: var(--font-60);
  }
}

// .return-button {
//   display: flex;
//   padding: 12px 14px;
//   align-items: flex-start;
//   gap: 8px;
//   border-radius: 16px;
//   border: 1px solid var(--border);
//   background: var(--white);
//   color: var(--foreground);
// }

.bottom-btns-area {
  gap: 8px;
}

@import "./_footer.scss";
@import "./_header.scss";
@import "./_search-result.scss";
@import "./search-form";
@import "./dropdown-style";
