{% from "macros/icons/leftArrowIcon.jinja2" import leftArrowIcon %}
{% from "macros/icons/printIcon.jinja2" import printIcon %}
{% from "macros/icons/downloadIcon.jinja2" import downloadIcon %}
{% from "macros/icons/exitIcon.jinja2" import exitIcon %}
{% from "macros/icons/linkIcon.jinja2" import linkIcon %}
{% from "macros/icons/menuIcon.jinja2" import menuIcon %}

{%- block content_header %}
<div class="d-flex pt-2 mb-4 pt-lg-4" style="gap: 8px;">
    <div class="return">
        {%- if back_url %}
        <div class="{% block back_link_wrapper_classes %}{% endblock %}">
            <a class="{% block back_btn_classes %}btn btn-normal {% endblock %}" href="{{ back_url }}">
                {{ leftArrowIcon("", 20, 20) }} <span>{{ _("Return") }}</span>
            </a>
        </div>
        {%- endif %}
    </div>
    {%- block item_actions %}
    {%- with show_download_link = (config.kerko.features.download_item and config.kerko_composer.bib_formats) %}
    {%- if item.attachments or show_download_link or config.kerko.features.print_item or
    config.kerko.features.open_in_zotero_app or config.kerko.features.open_in_zotero_web %}
    {{- isMobile }}

    <div class="dropdown d-flex flex-wrap justify-content-end w-100" style="gap: 20px;">
        <button class="d-lg-none btn btn-primary btn-normal" type="button" data-toggle="collapse"
            data-target="#collapseButtonsItem" aria-expanded="false" aria-controls="collapseExample">
            {{ menuIcon("menu-icon", 20, 20) }}
        </button>
        <div class="collapse d-lg-flex flex-wrap justify-content-end" id="collapseButtonsItem" style="gap: 8px;">
            {%- include "item/header/buttons.jinja2" %}
        </div>
    </div>
    {# <div class="d-none d-md-flex flex-wrap justify-content-end w-100 collapse" id="collapseButtonsItem"
        style="gap: 8px;">
        {%- include "item/header/buttons.jinja2" %}
    </div> #}

    {%- endif %}
    {%- endwith %}
    {%- endblock item_actions %}
</div>
{# <div class="collapse" id="collapseButtonsItem">
    {%- include "item/header/buttons.jinja2" %}
</div> #}
{# <div class="collapse" id="collapseButtonsItem">
    <div class="card card-body">
        {%- include "item/header/buttons-mobile.jinja2" %}
    </div>
</div> #}

{% include "item/header/preferences.jinja2" %}
{%- endblock content_header %}